*
  -webkit-touch-callout:none
  -webkit-tap-highlight-color transparent
  box-sizing border-box
html *
  outline 0
html, body, div, span, small, p, em, i, b, th, td, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, textarea,input
  padding 0
  margin 0

a
  color #9fa0a0
  text-decoration none
  &:active,
  &:visited
    color currentColor

a,
img
  border none
  touch-callout none

ul,
ol
  list-style none
i,
em
  font-style normal
s
  text-decoration none

table
  border-spacing 0
  border-collapse collapse

input:focus,
select:focus,
textarea:focus,
select,
button
  margin 0
  outline none
  appearance:none

input,
button
  background-image none
